<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
    <title>About MARVEL by Balella Franco</title>
    <!-- Estilos generales -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Estilos de recursos -->
    <link rel="stylesheet" href="/stylesheets/resource.css">
    <!-- Script de inyección de recursos -->
    <script src="/javascripts/resources.js"></script>
    <style>
        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <!-- placeholder para menu -->
    <header id="menu"></header>
    <div class="main">
        <h1 style="text-align: center; color: yellow; padding: 0.25em; border-radius: 7px; background-color: black;">WORK IN PROGRESS: ABOUT</h1>
        <br>
        
        <h2>¿Qué es esta página?</h2>
        <p>Esta página es un proyecto de NodeJS que busca explotar la API pública <a href="https://developer.marvel.com/" target="_blank">Developer Marvel</a></p>
        <br>

        <h2>¿Qué es la API de developer.marvel?</h2>
        <p>La API de Marvel es una base de datos de datos oficial de personajes, comics, series, etc. que nos permite buscar según categorías y filtros deseados</p>
        <br>

        <h2>¿Qué puedo hacer con ella?</h2>
        <p>La página todavía está en desarrollo, pero actualmente se pueden buscar personajes y cómics en listados según los filtros respectivos de cada uno.<br>Eventualmente, se podría buscar en todas las categorías que la API ofrece (personajes, cómics, creadores, eventos, series e historias), junto con una vista detallada de cada resultado individualmente, junto con búsquedas internas que te permitirían buscar elementos en base a otros elementos (por ejemplo, buscar personajes por nombre y luego buscar comics por uno de esos personajes).</p>
        <br>

        <h2>Quisiera contribuir</h2>
        <p>Puedes encontrar el repositorio en <a href="https://github.com/FMB-Player/ProyectoNodeJS" target="_blank">GitHub</a>, y puedes hacer un pull request si quieres contribuir. El proyecto es público para inspeccionar el código libremente y trabajar como se guste.<br>En el margen de lo posible, todo está comentado donde se ve necesario, hay una documentación general del proyecto, metas y proceso de su creación, junto con su propio listado incluido en el proyecto de los ToDo's y FixMe's.</p>
        <br>

        <h3>Notas</h3>
        <p>Tener en cuenta que esto es un proyecto de estudio, esto VA a tener cosas mal hechas que se arreglarán en el futuro. Algunas obvias, algunas sutiles, algunas en la metodología y algunas en el proceso u organización.<br> <b>Esto NO es un producto definitivo o de cobro</b>, sino más bien un proyecto personal de ocio y aprendizaje, abierto a trabajo colaborativo.</p>
        <br>
        
    </div>
    <!-- placeholder para footer -->
    <footer id="footer"></footer>

    <script>
        document.getElementById('footer').classList.add('loadedFooter', 'NoResults');
    </script>
</body>
</html>