<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARVEL by Balella Franco</title>
    <!-- Estilos generales -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Estilos de recursos -->
    <link rel="stylesheet" href="stylesheets/resource.css">
    <!-- Script de injección de recursos -->
    <script src="/javascripts/resources.js"></script>
    <!-- Herramienta de api.js -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <!-- Rutas de backend -->
    <script defer src="/javascripts/api.js"></script>
    <!-- Script de index -->
    <script src="/javascripts/index.js"></script>
</head>

<body>
    <!-- placeholder para menu -->
    <header id="menu"></header>
    <h1>Proyecto NodeJS de Balella Franco</h1>
    <h2>Listado de personajes</h2>
    <p>Personajes:</p>
    <!-- placeholder para listado -->
    <div id="listado"></div>
    <!-- placeholder para footer -->
    <footer id="footer"></footer>
</body>

</html>