:root {
  --article-radius: 10px;
  --ArticleWidth: 300px;
}

* {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  margin: 1%;
}

/* Estilo de formulario buscador (Y select categorías) */

  .category {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: var(--article-radius);
    width: fit-content;
  }

  .category select {
    border: none;
    border-bottom: 1px solid black;
  }

  .checkLabel, input[type="checkbox"] {
    display: inline-block;
  }

  form#buscador fieldset {
    display: grid;
    width: fit-content;
    align-items: start;
    justify-content: start;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: var(--article-radius);
  }

  form#buscador input[type="submit"] {
    justify-self: start;
    align-self: start;
  }

/* Estilo de formulario buscador (Y select categorías) */

/* Estilo de visualizador de listas */

  a.personaje_name, a.comic_title {
    color: #fff;
    text-align: center;
    padding: 0.5em;
    background-color: #000;
    border-bottom-left-radius: var(--article-radius);
    border-bottom-right-radius: var(--article-radius);
  }

  #listado {
    display: flex;
    flex-wrap: wrap;
  }

  article.personaje_banner {
    display: inline-grid;
    border: 1px solid black;
    border-radius: var(--article-radius);
    width: min-content;
    height: var(--ArticleWidth);
    margin: 1em auto;
  }

  article.comic_banner {
    display: inline-grid;
    border: 1px solid black;
    border-radius: var(--article-radius);
    width: min-content;
    height: var(--ArticleWidth);
    margin: 3em auto 6em auto;
  }

  img.personaje_img {
    height: calc(var(--ArticleWidth) - 2em);
    width: calc(var(--ArticleWidth) - 2em);
    border-top-left-radius: var(--article-radius);
    border-top-right-radius: var(--article-radius);
    object-fit: cover;
    object-position: center;
  }

  img.comic_img {
    height: calc(var(--ArticleWidth) - 2em);
    width: calc(var(--ArticleWidth) - 8em);
    border-top-left-radius: var(--article-radius);
    border-top-right-radius: var(--article-radius);
    object-fit: cover;
    object-position: center;
  }

/* Estilo de visualizador de listas */